doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lilita%20One')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='shortcut icon', href='favicon.ico' type='image/x-icon')
  body
    block content
