doctype html
html(lang="us-en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lilita%20One')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')
  body
    block content
