doctype html
html(lang="en")
  head
    //- meta tags
    meta(charset="UTF-8")
    meta(name="keywords" content="trivia, challenger, questions")
    meta(name="description" content="A simple game to test your trivia knowledge.")
    meta(name="author" content="Jackie Yang")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- stylesheets
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lilita%20One')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')
    link(rel='shortcut icon', href='favicon.ico' type='image/x-icon')
    //- title
    title= title
  body
    block content
