html {
  height: 100%;
  margin: 0;
}

body {
  padding: 50px;
  font: 18px "Ubuntu", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
  height: 70%;
  margin: auto;
}

.alt-font {
  font-family: "Lilita One", Helvetica, Arial, sans-serif;
}

hr {
  height: 2px;
  background-color: #11e3ff;
  border: none;
}

h1 {
  color: hotpink;
}

input {
  font-size: 24px;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  text-align: center;
}

#welcome {
  font-size: 80px;
  margin: 10px;
  margin-bottom: 20px;
}

#main {
  border: 2px solid #11e3ff;
  border-radius: 30px;
  padding: 4%;
  margin: auto;
  height: 100%;
  text-align: center;
}

#name {
  margin-bottom: 20px;
}

form {
  margin-top: 30px;
}

.submit {
  margin-top: 30px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: hotpink;
  border: 2px solid #11e3ff;
  border-radius: 40px;
}

#top {
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

#selection-form {
  text-align: left;
}

#categories, #difficulties, #choices {
  display: flex;
}

#choices {
  max-width: 80%;
  margin: auto;
  margin-top: 40px;
  justify-content: space-between;
}

#categories div, #difficulties div, #choices input {
  font-size: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  color: black;
  background-color: white;
  border: 2px solid #11e3ff;
  border-radius: 10px;
}